<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vaccine availability
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vaccine availability</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="fixed">Pincode</ion-label>
    <ion-input [(ngModel)]="pincode"></ion-input>
  </ion-item>

  <div class="ion-text-center">
    <ion-button color="primary" (click)="startSearch()" [disabled]="pincode.length < 6">Search</ion-button>
    <ion-button color="secondary" (click)="stopSearch()" [disabled]="!interval">Stop</ion-button>
  </div>

  <ng-container *ngIf="availableVaccineHospitalList.length > 0">
    <div class="ion-text-center ion-padding" *ngIf="updatedOn">
      Updated on - {{ updatedOn | date:'dd/MM/yyyy hh:mm:ss a'}}
    </div>
    <ion-card *ngFor="let item of availableVaccineHospitalList">
      <ion-card-header>
        {{ item.name }}
      </ion-card-header>
      <ion-card-content>
        Available vaccines - {{ item.numberOfVaccineAvailable }}
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>