<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vaccine availability
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isFetching">
        <ion-spinner slot="icon-only" name="lines"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="main-container">
    <ion-item>
      <ion-label position="fixed">Pincode</ion-label>
      <ion-input [(ngModel)]="pincode"></ion-input>
    </ion-item>

    <div class="ion-text-center">
      <ion-button color="primary" (click)="startSearch()" [disabled]="pincode.length < 6 || interval">Search
      </ion-button>
      <ion-button color="secondary" (click)="stopSearch()" [disabled]="!interval">Stop</ion-button>
    </div>

    <div class="ion-text-center">
      <div *ngIf="interval && updatedOn">
        Updated on - {{ updatedOn | date:'dd/MM/yyyy hh:mm:ss a'}}
      </div>
      <div *ngIf="interval && today && tommorrow">Getting vaccine availability for - <br>{{ today + ' & ' + tommorrow }}
      </div>
    </div>

    <ng-container *ngIf="availableVaccineHospitalList.length > 0">
      <ion-card *ngFor="let item of availableVaccineHospitalList">
        <ion-card-header>
          {{ item.name }}
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="item.numberOfVaccineAvailableToday !== undefined">
            Available vaccines on {{ today }} - {{ item.numberOfVaccineAvailableToday }}
          </div>
          <div *ngIf="item.numberOfVaccineAvailableTommorow !== undefined">
            Available vaccines on {{ tommorrow }} - {{ item.numberOfVaccineAvailableTommorow }}
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="availableVaccineHospitalList.length === 0 && interval">
      <ion-card class="ion-text-center">
        <ion-card-header>
          No data found till now. We are checking for vaccine availability every 5 seconds.
        </ion-card-header>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="availableVaccineHospitalList.length === 0 && !interval">
      <ion-card class="ion-text-center">
        <ion-card-header>
          Search for a pincode
        </ion-card-header>
      </ion-card>
    </ng-container>
  </div>

</ion-content>